
.page {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .sidebar {
    width: 250px;
    background-color: #487aab;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .filters {
    margin-bottom: 20px;
    background-color: #404f5f;
    padding: 10px;
    border-radius: 5px;
  }
  
  .filter {
    margin-bottom: 10px;
  }
  
  .filter label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .filters input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px;
    background-color: #f8f8f8; /* Background color */
    color: #333; /* Text color */
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .filters input:focus {
    background-color: #fff; /* Background color on focus */
    color: #000; /* Text color on focus */
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Border color on focus */
  }
  
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .button {
    background-color: #487aab;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: solid;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #555;
  }

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

/* Left-aligned infoX */
.x1 {
  flex: 1;
  text-align: left;
}

/* Middle-aligned infoY and infoZ */
.x2 {
  flex: 4;
  text-align: left;
}

.x3 {
  flex: 1;
  text-align: center;
}

/* Right-aligned smallInfo */
.x4 {
  flex: 0.5;
  text-align: right;
}

.articleTitle {
  font-weight: bold;
}

.subtitle {

}

.author {
  font-style: italic;
  color: darkgrey;
}
